.recommonded-hotels img {
  height: 208px;
}

@media only screen and (max-width: 767px) {
  .recommonded-hotels img {
    min-height: 10rem !important;
    max-height: 10rem;
  }
}
.recommonded-hotels :hover {
  opacity: 0.8;
  cursor: pointer;
}
