.fa-star {
  color: orange;
  margin-left: 2px;
}
.fa-star:hover {
  opacity: 0.5;
}
.searched-hotel-container {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .left-side-bar {
    display: none;
  }
  .searched-hotel {
    margin: auto;
  }
  .searched-hotel img {
    /* width: 80%; */
    padding: 3%;
  }
  .searched-hotel-container {
    width: 100% !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .card {
    width: 53rem !important;
  }
}

.card-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
