.css-17vdz66 {
  margin-left: auto !important;
  margin-right: auto !important;
}
.modal-input-container {
  display: flex !important;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-input-container button,
.modal-input-container input {
  display: inline-block;
  height: 2rem;
}
.modal-input-container input {
  min-width: 15rem;
  max-width: 8rem;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.modal-input-container button {
  text-align: center;
  font-weight: bolder;
}
.search-room-details {
  text-align: center;
}
.final-search-room-details {
  min-width: 25rem;
  margin-left: 3rem;
}
.recommonded-hotels .modal-body {
  padding: 0rem !important;
}

.search-modal-container {
  min-width: 23rem;
  max-width: 23rem;
  margin-right: auto !important;
  margin-left: auto !important;
}
.search-modal-btn {
  width: 100%;
}
.modal-body {
  padding-top: 10px !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 16px !important;
  color: #555 !important;
  text-transform: capitalize !important;
  display: block !important;
  font-weight: 900 !important;
}
