.person-details-container {
  position: relative;
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

.person-details-container .container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.person-details-container .container:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
.step-indicator {
  position: relative;
  margin-top: 8%;
}
.user-details div {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.time-container,
.payment-summary {
  display: flex;
}
.time-container div {
  width: 50%;
}

.multi-steps > li.is-active ~ li:before,
.multi-steps > li.is-active:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active ~ li:after,
.multi-steps > li.is-active:after {
  background-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: tomato;
}
.multi-steps > li:before {
  content: '';
  content: '✓;';
  content: '𐀃';
  content: '𐀄';
  content: '✓';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: tomato;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: tomato;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: tomato;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}
.personal-details-form label {
  font-weight: bold;
}
.add-transport .form-check {
  position: relative;
  left: 30px;
}
.user-details .form-check {
  width: 100%;
}
.user-details .reserve-button {
  width: 22%;
  position: relative;
  right: -78%;
}
.fa-check-circle {
  color: green;
}
@media only screen and (max-width: 992px) {
  .user-details .reserve-button {
    display: block;
    width: 100%;
    right: 0%;
    margin-top: 15px;
  }
  .country-selector {
    width: 100%;
    background-color: #fff;
  }
  .step-indicator {
    position: relative;
    margin-top: 12% !important;
  }
}
.PhoneInputCountryIconImg {
  min-width: 2rem;
}
.PhoneInputCountryIcon--border {
  box-shadow: none !important;
  background-color: inherit !important;
}
.PhoneInputCountrySelectArrow {
  margin-right: 1rem !important;
}
.PhoneInputCountryIcon--border {
  box-shadow: transparent !important;
}
.PhoneInputInput,
.country-selector {
  font-family: 'Poppins', 'Arial', 'Helvetica Neue', sans-serif !important;
  font-size: 0.975em;
}
.PhoneInputCountryIcon {
  /* display: none !important; */
  width: 3rem !important;
  height: 2rem !important;
}
.country-selector {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.country-selector select option[value=''] value {
  color: #999999;
}
.payment-container {
  position: relative;
  top: 10%;
}
